body {
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    font-family: 'Poppins';
    background: #000919 url(/src/imagens/fundo.png) no-repeat top center;
}

.cabecalho {
    width: 100%;
    height: 13vh;
    background: #000919;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .cabecalho ul {
    justify-content: center;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}


.dadosUsuario {
    justify-content: center;
    line-height: unset;
    text-align: center;
}

.nomeUsuario {
    float: right;
    color: #fff;
    display: inline;
    text-align: center;
    font-size: 1.1em;
}

.cabecalho.sair{
    display:inline;
    cursor: pointer;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}
