body {
    margin: 0px;
    padding: 0px;
    background: #000923;
    color: aliceblue;
    font-family: 'Poppins';
    background: #000919 url(../src/imagens/fundo.png) no-repeat top center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

